@{
    Layout = null;
}
<h1>Register</h1>
<div>
    <form action="@Url.Action("AddClient", "Auth")" method="post">
        <div>
            <label>Username</label>
            <input type="text" name="Username" id="Username" placeholder="Username...">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="Password" id="Password" placeholder="Password...">
        </div>
        <div>
            <label>Confirm Password</label>
            <input type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password...">
        </div>
        <div>
            <label>Full Name</label>
            <input type="text" name="Name" id="Name" placeholder="Your Name..">
        </div>
        <div>
            <label>Date of Birth</label>
            <input type="date" name="DateOfBirth" id="DateOfBirth">
        </div>
        <div>
            <label>Gender</label>
            <input type="text" name="Gender" id="Gender" placeholder="Your Gender..">
        </div>
        <div>
            <label>NIC</label>
            <input type="text" name="NIC" id="NIC" placeholder="Your NIC..">
        </div>
        <div>
            <label>Main Address</label>
            <input type="text" name="Address" id="Address" placeholder="Your Address..">
        </div>
        <div>
            <label>Country</label>
            <input type="text" name="Country" id="Country" placeholder="Your Country..">
        </div>
        <div>
            <label>Contact Number</label>
            <input type="text" name="Contact" id="Contact" placeholder="Your Contact Number..">
        </div>
        <div>
            <label>Email Address</label>
            <input type="Email" name="Email" id="email" placeholder="Your Email..">
        </div>
        <label>Your contact details will only be shared with Counsellors that you request guidance from.</label>
        <button type="submit">Submit</button>
    </form>
</div>