@{
    Layout = null;
}
<head>
    <title>Login</title>
</head>
<body>
    @Html.ValidationSummary()
    <div>
    <form method="post">
        <div>
            <label>Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">Login</button>
    </form>
    </div>
    <a asp-controller="Auth" asp-action="ShowClientRegister">Create an Account</a>
</body>