@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>iCounselVault</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/favicon.ico" rel="icon">
    @*<link href="~/MainStyles/assets/img/apple-touch-icon.png" rel="apple-touch-icon">*@

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/MainStyles/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/MainStyles/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/MainStyles/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/MainStyles/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/MainStyles/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/MainStyles/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/MainStyles/assets/css/style.css" rel="stylesheet">
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
        <img src="~/img/logo-high-res-transparent.png" alt="">
        <span>iCounselVault</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#counts">Data</a></li>
          <li><a class="nav-link scrollto" href="#yourprivacy">Your Privacy</a></li>
          <li><a class="nav-link scrollto" href="#joinus">Join Us</a></li>
          <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
          <li><a class="nav-link scrollto" href="#footer">Contact</a></li>

          <li><a class="getstarted scrollto" asp-controller="Auth" asp-action="Index">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  @RenderBody()

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
              <img src="~/img//logo-high-res-transparent.png" alt="">
              <span>iCounselVault</span>
            </a>
            <p>iCounselVault is an online repository that allows users to keep track of their history with Career Guidance. Users can also take a survey on their career-related Personality Traits and search and set appointments with iCounselVault's registered Counselors.</p>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a asp-controller="Home" asp-action="Index">Home</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              <strong>Phone:</strong> +1-202-555-0118<br>
              <strong>Email:</strong> cs@icounselvault.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; <strong><span>iCounselVault 2023</span></strong>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="~/MainStyles/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="~/MainStyles/assets/vendor/aos/aos.js"></script>
  <script src="~/MainStyles/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/MainStyles/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/MainStyles/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="~/MainStyles/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/MainStyles/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="~/MainStyles/assets/js/main.js"></script>
</body>
</html>