@{
    ViewData["Title"] = "Admin";
}
<h1>Admin</h1>
<a asp-controller="AdminDashboard" asp-action="ShowCounselors">Counselors</a>
<a asp-controller="AdminDashboard" asp-action="ShowClients">Clients</a>
<a asp-controller="AdminDashboard" asp-action="ShowInsertRequests">Guidance Insert Requests</a>
<a asp-controller="AdminDashboard" asp-action="ShowCounselRequests">Counseling Requests</a>
