@{
    ViewData["Title"] = "Client";
}
<h1>Client</h1>
<a asp-controller="ClientDashboard" asp-action="ShowClientProfile">Profile</a>
<a asp-controller="ClientDashboard" asp-action="ShowSearchCounselors">Find a Career Guidance Counselor</a>
