@{
    ViewData["Title"] = "Counselor";
    Layout = "~/Views/Shared/_CounselorLayout.cshtml";
}
<h1>Counselor</h1>
<a asp-controller="CounselorDashboard" asp-action="ShowCounselorProfile">Profile</a>
<a asp-controller="CounselorDashboard" asp-action="ShowCounselRequests">Manage Guidance Counselling Requests</a>
