@{
    ViewData["Title"] = "Counselor";
    Layout = "~/Views/Shared/_CounselorLayout.cshtml";
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Counselor</h1>
    </div>

    <!-- Navigation Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Navigation</h6>
            </div>
            <div class="card-body">
                <!-- Navigation Buttons -->
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="CounselorDashboard" asp-action="ShowCounselorProfile">
                    <i class="fas fa-house-user fa-fw me-3"></i>Your Profile
                </a>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="CounselorDashboard" asp-action="ShowCounselRequests">
                    <i class="fas fa-business-time fa-fw me-3"></i>Manage Guidance Counselling Requests
                </a>
            </div>
        </div>
    </div>
</body>