@{
    ViewData["Title"] = "Super Admin";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";

    dynamic? superCount = TempData["superCount"];
    dynamic? adminCount = TempData["adminCount"];
    dynamic? clientCount = TempData["clientCount"];
    dynamic? counselorCount = TempData["counselorCount"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Welcome to iCounselVault, Super Admin</h1>
    </div>

    <!-- Info Cards -->
    <div class="row">
        <!-- Super Admins card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Super Admins
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@superCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-lock fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Admins card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Admins
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@adminCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-shield fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Clients card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Clients
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@clientCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Counselors card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Counselors
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@counselorCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-tie fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <!-- Navigation Card -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Navigation</h6>
            </div>
            <div class="card-body">
                <!-- Navigation Buttons -->
                <h6 class="h5 mb-0 text-gray-800">Account Management</h6><br>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="SuperAdminDashboard" asp-action="ShowAdmins">
                    <i class="fas fa-user-shield fa-fw me-3"></i>Admins
                </a>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="SuperAdminDashboard" asp-action="ShowCounselors">
                    <i class="fas fa-user-tie fa-fw me-3"></i>Counselors
                </a>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="SuperAdminDashboard" asp-action="ShowClients">
                    <i class="fas fa-users fa-fw me-3"></i>Clients
                </a>
            </div>
        </div>
    </div>
</body>