@{
    ViewData["Title"] = "Super Admin";
}
<h1>Super Admin</h1>
<a asp-controller="SuperAdminDashboard" asp-action="ShowAdmins">Admins</a>
<a asp-controller="SuperAdminDashboard" asp-action="ShowCounselors">Counselors</a>
<a asp-controller="SuperAdminDashboard" asp-action="ShowClients">Clients</a>
