@{
    ViewData["Title"] = "Super Admin";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<body>
    <!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Super Admin</h1>
</div>
<div class="col">
    <!-- Navigation Card -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Navigation</h6>
        </div>
        <div class="card-body">
            <!-- Navigation Buttons -->
            <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="SuperAdminDashboard" asp-action="ShowAdmins">
                <i class="fas fa-user-shield fa-fw me-3"></i>Admins
            </a>
            <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="SuperAdminDashboard" asp-action="ShowCounselors">
                <i class="fas fa-user-tie fa-fw me-3"></i>Counselors
            </a>
            <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="SuperAdminDashboard" asp-action="ShowClients">
                <i class="fas fa-users fa-fw me-3"></i>Clients
            </a>
        </div>
    </div>
</div>
</body>