@{
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<body>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Welcome to iCounselVault</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">All your Career Guidance History, in one place</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a asp-controller="Auth" asp-action="Index" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="~/img/LandingPage/icounselvault-landing-about.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>About Us</h3>
              <h2>iCounselVault is an online space that offers career counseling services and a place to store your history with career guidance</h2>
              <p>
                Take a personality trait questionnaire about yourself, find career guidance counselors, and keep track of your history with career guidance.
              </p>
              <div class="text-center text-lg-start">
                <a href="#services" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Next</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="~/img/LandingPage/icounselvault-landing-hero.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Services</h2>
          <p>Discover all the benefits you can gain with an iCounselVault account</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="~/img/LandingPage/iCounselVault-landing-services1.jpg" class="img-fluid" alt="">
              <h3>Take a Personality Trait Questionnaire</h3>
              <p>iCounselVault's Personality Trait Survey is tailored to identify qualities that can help both you and career guidance counslors identify the best path for you.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="~/img/LandingPage/iCounselVault-landing-services2.png" class="img-fluid" alt="">
              <h3>Find a Career Guidance Counselor</h3>
              <p>Looking for Career Guidance Services? iCounselVault's registered Career Guidance Counselors are always available for an appointment!</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="~/img/LandingPage/iCounselVault-landing-services3.jpg" class="img-fluid" alt="">
              <h3>Store your Career Guidance History</h3>
              <p>Keep track of your history with Career Guidance Services throughout the years with iCounselVault.</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="47" data-purecounter-duration="1" class="purecounter"></span>
                <p>Users</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="264" data-purecounter-duration="1" class="purecounter"></span>
                <p>Career Guidance Records</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-headset" style="color: #15be56;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="17" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hard-Working Admins</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="27" data-purecounter-duration="1" class="purecounter"></span>
                <p>Counselors</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Respect Privacy Section ======= -->
    <section id="yourprivacy" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Built with Privacy in mind</h3>
              <h2>We Respect Your Privacy</h2>
              <p>
                Your profile data is safe and sound in iCounselVault - Only Counselors that you share your unique profile code with can view your account details.
              </p>
              <div class="text-center text-lg-start">
                <a href="#joinus" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Next</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="~/img/LandingPage/iCounselVault-landing-YourPrivacy.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End Respect Privacy Section -->

    <!-- ======= Join Us Section ======= -->
    <section id="joinus" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Join Us</h2>
          <p>Register as a Client or Apply to be a Counselor or Admin</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
                            <i class="ri-user-line icon"></i>
              <h3>Client</h3>
              <p>Get all the benefits of iCounselVault, Interact with Counselors and Admins - Registration is completely free!</p>
              <a asp-controller="Auth" asp-action="ShowClientRegister" class="read-more"><span>Sign Up</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-user-voice-line icon"></i>
              <h3>Counselor</h3>
              <p>Handle appointments with Clients, Enter career guidance advice into their profiles, and keep track of your Guidance history - Send us an email to get started!</p>
              <a href="#footer" class="read-more"><span>Contact Details</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-admin-line icon"></i>
              <h3>Admin</h3>
              <p>Looking to help in another way? Handle Client and Counselor profiles, Manage Guidance History record insertions, and more - Send us an email to apply!</p>
              <a href="#footer" class="read-more"><span>Contact Details</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Join Us Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    Can I insert my own Career Guidance History records?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Yes, you can! You can select an external source of guidance, such as teacher or parent, and submit a record. These records will be sent to Admin approval before they can be submitted into your profile.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    Can Counselors insert whatever they wish into my Career Guidance history?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Career Guidance History records submitted by counselors will first have to be approved by you, the profile's owner, before they enter your profile.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    I have no idea what I want to do with my career, can I still get a use out of iCounselVault?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Of Course! iCounselVault's Personality Trait Survey is designed to identify your key career-related qualities so that counselor's can point you in the right direction.
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">

            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    I'm a licensed Career Guidance practitioner, how can I connect with Clients using iCounselVault?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Once you get accepted as a Career Guidance Counselor in iCounselVault, simply complete your profile details to have your profile show up in clients' "Search Counselor" section. You can personally manage your Guidance Appointment requests through iCounselVault.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    What benefits do iCounselVault provide that I, a Career Guidance Counselor, wouldn't have without it?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    iCounselVault provides a means to view a Client's previous history with Career Guidance, so that you, as a counselor, can tailor your Career Guidance to fit the client's knowledge.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                    What tasks would I be expected to fulfill as an admin of iCounselVault?
                  </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Admins manage client and counselor profiles - their profile details and career guidance histories - so that they are in-line with iCounselVault's guidelines. Admins also manage Career Guidance History record insert requests and can oversee counsel requests from clients to counselors.
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section><!-- End F.A.Q Section -->
  </main>
</body>
